body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  margin: 0;
  padding: 0;
}

#top {
  background-color: #353535;
  height: 20px;
  padding: 10px 20px;
  text-align: right;
  box-shadow: 
    rgba(255, 255, 255, 0.05) 0px 50px 100px -20px,
    rgba(255, 255, 255, 0.08) 0px 30px 60px -30px,
    rgba(0, 0, 0, 0.4) 0px -2px 6px 0px inset;
}

.button {
  border: none;
  display: inline-block;
  border-radius: 50%;
  width: 13px;
  height: 13px;
}

.buttonOFF {
  background-color: #dd0000;
}

.buttonON {
  background-color: #00dd00;
}

.buttonText {
  border: 0;
  background-color: transparent;
  width: 90px;
  color: #ffffff;
}

#main {
  background-color: #aaaaaa;
  padding: 10px 20px;
  margin: 0;
}

input {
  margin: 0 10px;
}

input#ip, input#port {
  width: 130px;
}

input#command {
  margin: 10px 9px 0 0;
  width: 558px;
}

textarea {
  width: 675px;
  margin-top: 10px;
}

button {
    width: 85px;
}
